<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/png" href="/Assets/Admin/images/icon/favicon.ico">
    <meta name="keywords" content="@ViewBag.MetaKeywords"/>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->

    <link rel="stylesheet" href="/Assets/Clients/css/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->
    <!-- css files -->
    <link rel="stylesheet" href="/Assets/Clients/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/Assets/Clients/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/Assets/Clients/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link href="/Assets/Clients/css/Footer-with-button-logo.css" rel="stylesheet" /><!-- footer - css -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3><a href="/"><img src="/Assets/Admin/images/logo/logo1.png" /></a></h3>
            </div>
            <div class="top-nav-text">
                <div class="nav-contact-w3ls" style="display:inline-block;margin-top:-2px;">
                    @{ Html.RenderAction("TopMenu", "Home"); }
                </div>
            </div>
            <!-- navbar-header -->
            @{ Html.RenderAction("MainMenu", "Home"); }
            <div class="clearfix"> </div>
        </nav>
    </div>
    <!-- Slider -->
    @RenderSection("slides", false)
    <!-- //Slider -->

    @RenderBody()

    <!-- footer -->
    <footer id="myFooter">
        @{ Html.RenderAction("Footer", "Home"); }
    </footer>
    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="/Assets/Clients/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/Assets/Clients/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script src="/Assets/Clients/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="/Assets/Clients/js/move-top.js"></script>
    <script type="text/javascript" src="/Assets/Clients/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- Baneer-js -->
    <script src="/Assets/Clients/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- //Baneer-js -->
    <!-- banner bottom video script -->
    <script src="/Assets/Clients/js/simplePlayer.js"></script>

    @*<script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });
    </script>*@

    <!-- //banner bottom video script -->
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="/Assets/Clients/js/waypoints.min.js"></script>
    <script src="/Assets/Clients/js/counterup.min.js"></script>

    @*<script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1000
            });
        });
    </script>*@

    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    <!-- FlexSlider-JavaScript -->
    @*<script defer src="/Assets/Clients/js/jquery.flexslider.js"></script>*@
    <script src="~/Assets/Clients/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            //SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //FlexSlider-JavaScript -->
    <!-- //js-scripts -->
    @RenderSection("scripts", false)
</body>
</html>