@model BuyAndSellCars.Areas.Admin.Models.LoginModel

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Buy And Sell Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/Assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/css/metisMenu.css">
    <link rel="stylesheet" href="/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/Assets/css/typography.css">
    <link rel="stylesheet" href="/Assets/css/default-css.css">
    <link rel="stylesheet" href="/Assets/css/styles.css">
    <link rel="stylesheet" href="/Assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/Assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--50">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="login-form-head">
                        <h4>PLEASE SIGN IN</h4>
                    </div>
                    <div class="login-form-body">
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-error login-error-location" })
                        <div class="form-gp">
                            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Username", required = "required" })<i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", required = "required" })<i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "custom-control-input", id = "customControlAutosizing" })
                                    <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                                </div>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Login <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- login area end -->
    <!-- jquery latest version -->
    <script src="/Assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/Assets/js/popper.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/owl.carousel.min.js"></script>
    <script src="/Assets/js/metisMenu.min.js"></script>
    <script src="/Assets/js/jquery.slimscroll.min.js"></script>
    <script src="/Assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="/Assets/js/plugins.js"></script>
    <script src="/Assets/js/scripts.js"></script>
</body>

</html>