@model List<BuyAndSellCars.Models.CartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listcategory = (IEnumerable<Model.ViewModel.ViewCarPartCategoryModel>)ViewBag.CarPartCategory;
}

@section scripts{
        
    <script src="/Assets/Clients/controller/carController.js"></script>
    <script>
            function moneyFormat(str) {
                str = parseFloat(str.toString().replace(/,/g, "")).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return str;
            };
            $(document).ready(function () {
                resetMoneyFormat();
            })
            function resetMoneyFormat() {
                $.each($('td.num_price'), function (i, item) {
                    var price = $(this).html();
                    price = moneyFormat(price);
                    $(this).html(price + "đ");
                });
            }
    </script>   
}

<div class="direc_bottom_header">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)" style="color:#333;">Trang Chủ</a></li>
        <li><a href="/phu-tung/tat-ca-phu-tung-20">Phụ Tùng</a></li>
    </ol>
</div>

<div class="container">
    <div class="col-md-4 carpart-category">
        <div class="menu-title">DANH MỤC PHỤ TÙNG</div>
        <ul class="nav">
            @foreach (var item in listcategory)
            {
                if (item.ID != 20)
                {
                    <li class="dropdown dropdown-menu-right">
                        <a href="/phu-tung/@item.MetaTitle-@item.ID" class="dropdown-toggle" data-toggle="dropdown">@item.Name <i class="fa fa-sort-desc" aria-hidden="true" style="float:right"></i></a>
                        <ul class="dropdown-menu">
                            @foreach (var item_child in item.CategoryChild)
                            {
                                <li>
                                    <a href="/phu-tung/@item_child.MetaTitle-@item_child.Id">@item_child.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="col-md-8 cartitem-list">
        <div class="cartitem-title"><span>Giỏ Hàng</span></div>
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Ảnh SP</th>
                        <th>Số Lượng</th>
                        <th>Dơn Giá</th>
                        <th>Thành Tiền</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody class="cartitem_item">
                    @{ var totalPrice = 0; }
                    @foreach (var item in Model)
                    {
                        var price = item.CarPart.PromotionPrice != -1 ? item.CarPart.PromotionPrice : item.CarPart.Price;
                        <tr>
                            <td>@item.CarPart.ID</td>
                            <td>@item.CarPart.Name</td>
                            <td><img src="@item.CarPart.Image" width="70" /></td>
                            <td><input type="number" class="quantity" min="1" max="@item.CarPart.Quantity" value="@item.Quantity" data-id="@item.CarPart.ID" /></td>
                            <td class="num_price">@price</td>
                            <td class="num_price">@(price * item.Quantity)</td>
                            <td><button type="button" class="btn btn-default btn-delete-cartitem" value="Xoá" data-id="@item.CarPart.ID"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                        </tr>
                       totalPrice = totalPrice + ((int)price * item.Quantity);
                    }
                    <tr>
                        <td>#</td>
                        <td colspan="4"><strong>Tổng: </strong></td>
                        <td class="num_price">@totalPrice</td>
                    </tr>
                </tbody>
            </table>
            
            <button id="btnContinue" class="btn btn-default">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn btn-default">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="btn btn-default">Xoá giỏ hàng</button>
            <button id="btnPay" class="btn btn-default">Thanh toán</button>

        }
        else
        {
            <div style="padding: 30px 100px;">
                <div class="alert alert-info" style="text-align:center;font-size:14px;">Chưa có sản phẩm nào trong giỏ hàng!</div>
            </div>
        }
    </div>
</div>

